<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flashcards App</title>
  <link rel="stylesheet" href="../static/css/create_card.css">
</head>
<body>
  <nav> <a href="{{ url_for('home') }}">Home</a> 
    <a href="{{ url_for('create_card') }}">Create Flashcard</a> 
    <a href="{{ url_for('topics') }}">History</a> 
    {% if session.get('user_id') %} 
      <a href="{{ url_for('logout') }}">Logout</a> 
      {% else %} <a href="{{ url_for('login') }}">Login</a> 
      <a href="{{ url_for('register') }}">Register</a> 
    {% endif %} 
  </nav>
  <h1>Create a new Flashcard</h1>
  <div id="container">
   
    <form method="POST">
      <label for="topic">Topic:</label>
      <input type="text" name="topic" required>
      <label for="content">Content:</label>
      <textarea name="content" required></textarea>
      <button type="submit">Create Flashcard</button>
    </form>
  </div>


</body>
</html>
