<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home.css">
  <title>Flashcards App</title>
</head>
<body>
  <nav> <a href="{{ url_for('home') }}">Home</a> 
    <a href="{{ url_for('create_card') }}">Create Flashcard</a> 
    <a href="{{ url_for('topics') }}">History</a> 
    {% if session.get('user_id') %} 
      <a href="{{ url_for('logout') }}">Logout</a> 
      {% else %} <a href="{{ url_for('login') }}">Login</a> 
      <a href="{{ url_for('register') }}">Register</a> 
    {% endif %} 
  </nav>
  <br>
  <div id="container">
    <h1>Bienvenidx a la Flashcards App</h1>
    <img src="../static/images/cerebro2.gif" alt="GIF animado" />
    <h2>Organiza tu mente, conquista tu conocimiento</h2>
  </div>


</body>
</html>
