{% extends "base.html" %}
{% block content %}
    <h2>Ingresar</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages  %}
            {% for category,message in messages %}
                <div class="{{category}}">{{message}}</div>
            {%  endfor %}
        {% endif  %}
    {% endwith %}
    <form action="{{url_for('login')}}" method="post">
        <input type="text" placeholder="Usuario" name="username" required>
        <input type="password" placeholder="Contraseña" name="password" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="/register">Registrarse</a>
  
{% endblock %}
