<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards App</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <h2>Crear Cuenta</h2>
    <div id="register">
        <form action="{{url_for('register')}}" method="post">
            <input type="text" placeholder="Usuario" name="username" required>
            <input type="password" placeholder="Contraseña" name="password" required>
            <button type="submit">Registrarse</button>
            <a href="{{url_for('index')}}">Inicia sesión aquí</a>
        </form>
        
    </div>

</body>
</html>